*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(204, 117, 255);
    padding: 10px;
}
.container {
    background-color: white;
    border-radius: 10px;
    padding: 50px, 30px;
    margin-top: 60px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2); 
max-width: 700px;
}

.options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

button{
    height: 32px;
    width: 32px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #b625da;
    outline: none;
    color: #020929;
}
select {
    padding: 7px;
    border: 2px solid #020929;
    border-radius: 3px;

}
.options label, .options select{
    font-family: "Poppins", sans-serif; 
}
.inputwrap{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

input [type="color"] {
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 30px;
  border:none;
  cursor: pointer;
}
 input [type="color"]::-webkit-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
 }
 input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  #textinput{
    margin: 15px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 400px;
  }
  .active {
    background-color: #e0e9ff;
  }